.img
{
  width: 30%;
  height: 30%;
  align-content: baseline;
}
.input-label
{
  display: block;
  color:  rgb(21, 135, 216);
  font-size: 20px;
  font-weight: 500; 
}
input[type="text"]
{
  padding: 12px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
  border: 2px solid #3498db;
  border-radius: 5px;
}
button{
  padding: 15px 20px;
  font-size: 18px;
  color: antiquewhite;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.generate-button
{
  background-color: rgb(21, 135, 216);
}
.generate-button:disabled
{
  background-color: rgb(184, 179, 179);
  cursor: not-allowed;
}
.download-button
{
  background-color: rgba(111, 186, 116, 0.694);
  margin-left: 10px;
}
.download-button:hover
{
  background-color: rgba(25, 194, 36, 0.694);
}
*
{
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif  ;
}
.app-container
{
  width: 100%;
  height: 100vh;
  display: flex;
   flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.app-container h1{
  font-weight: 800;
  font-size: 20px;
  color:  rgb(21, 135, 216);
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
}
.footer
{
  margin-top: 30px;
}
.footer.a
{
  text-decoration: none;
  color: #3498db;
}
label
{
  text-align: start;
}
.para
{
  color:  rgba(25, 194, 36, 0.694);
}
@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.background {
  height: 100vh;
 background-image: url('./assets/background.jpg'); 
  background-size: cover;
  animation: moveBackground 10s linear infinite; /* Adjust animation duration and timing function as needed */
}
.p
{
  color:  white
}
/* background-image: url('https://www.shutterstock.com/image-illustration/80s-retro-futurism-background-260nw-1232789431.jpg'); Replace 'your-background-image.jpg' with your image URL */
/* @keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.background {
  height: 100vh;
  background: linear-gradient(to right, #ff9966, #ff5e62);
  background-size: 200% 200%;
  animation: gradientAnimation 10s infinite;
} */
